
    <nav class="navbar">
      <ul class="nav flex-column text-center">
        <li class="nav-item">
          <a class="nav-link  active" href="/users/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/users/undone"> Work List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LogOut</a>
        </li>
      </ul>
    </nav> 