
    <nav class="navbar">
      <ul class="nav flex-column text-center">
        <li class="nav-item">
          <a class="nav-link  active" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/undone">Undone Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/done">Done Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/setting">Settings</a>
        </li>
      </ul>
    </nav>