<nav class="navbar">
    <ul class="nav flex-column text-center">
      <li class="nav-item">
        <a class="nav-link  active" href="home.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="undone.html">Undone Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="done.html">Done Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="setting.html">Settings</a>
      </li>
    </ul>
  </nav>