<% include partials/header %>
  <body>
    <div class="wrapper">
      <% include partials/nav %>
      <main class="container-fluid">
       <div id= "home">

       </div>
      </main>
    </div>
    <% include partials/footer%>
</body>
</html>