<% include partials/header %>
  <body>
    <div class="wrapper">
      <% include partials/nav %>
      <main class="container-fluid">
       <div class="container" id= "done">
       </div>
      </main>
    <% include partials/footer%>
  </div>
</body>
</html>