<% include partials/header %>
  <body>
    <div class="wrapper">
            <% include partials/nav %>
          <div class="container">
            <div class="row">
            </div>
          </div>
      </div>
    <% include partials/footer%>