<% include partials/header %>

  <body>
    <div class="wrapper">
      <% include partials/nav %>

        <main class="container-fluid">
          <header class="jumbotron bg-info">
            <h1>Welcome to App!!</h1>
          </header>
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <card class="card bg-default" style="padding: 110px;">
                  <div class="card-body">
                    <h2 class="card-title ">Click here to add </h2>
                    <a href="/users/newTask" class="btn btn-primary bt-lg text-lg">Add new Task</a>
                  </div>
                  <div class="card-footer">
                    <small class="text-dark">Enjoy</small>
                  </div>
                </card>
              </div>
              <div class="col-lg-4">
                <card class="card bg-success">
                  <div class="card-body ">
                    <h2 class="card-title">Sample</h2>
                    <p class="card-text">This is the sample of the card</p>
                    <a href="#" class="btn btn-primary disabled">Details</a>
                  </div>
                  <div class="card-footer">
                    <small class="text-dark">Last updated 3 mins ago</small>
                  </div>
                </card>
              </div>
            </div>
            <!-- <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div> -->
          </div>
        </main>
    </div>
    <% include partials/footer %>
  </body>

  </html>