<% include partials/header %>

  <body>
    <div class="wrapper">
      <% include partials/nav %>
        <main class="container-fluid">
          <div class="card bg-success" id="home">
            
          </div>
          <!-- modal for the full image -->
      <div class="modal"  id="modal">
        <div class="modal-content">
          <span id="cancel" class="cancel" >&times;</span>
          <h1 id='title' class="text-center text-success" ></h1>
          <h4 id='details'></h4>
          <a id='addPlan' href="/addPlan">Add</a>
          <a id='addPlan' href="/addPlan">Upload</a>
          <a id='addPlan' href="/addPlan">Connect with other</a>
          <button id='delete'>Delete this </button>
        </div>
      </div>
        </main>
        
    <% include partials/footer%>
  </div>
      <script src="/JS/script.js"></script>
  </body>

  </html>