* {
    color: black;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(../img/tacker.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

label{
    color:white;
}

.main{ 
    background-color: rgba(4, 20, 23, 0.5);
}

form {
    border: 1px solid white;
    padding: 50px 60px;
    margin-top: 30%;
    margin-bottom: 40%;
    -webkit-box-shadow: 1px 4px 31px 1px rgba(41, 68, 204, 1);
    -moz-box-shadow: 1px 4px 31px 1px rgba(41, 68, 204, 1);
    box-shadow: 1px 4px 31px 1px rgba(41, 68, 204, 1);
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 70%;
}

footer {
    color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60px;
}

.wrapper {
    display: flex;
    align-items: stretch;
} 

.navbar{
    color: white;
    padding: 3%;
    min-height: 100vh;
    font-size: 18px;
}

.jumbotron {
    background-color: bisque;
    max-width: 100%;
    margin: 20px;
    padding: 30px;
    z-index: 5;
}

.col-lg-3{
    border:1px solid black;
    padding: 10px;
    margin: 20px;
    background-color: rgb(130, 130, 214);
}

.card{
    font-size: 18px;
}

.addTask{
    position: fixed;
    
}