* {
    color: black;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
     background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

label{
    color:black;
    font-weight: bolder;
    font-size: 1rem;
}

#loginForm{
    border: 1px solid white;
    padding: 50px 50px;
    margin: 10%;
    -webkit-box-shadow: 1px 4px 31px 1px rgba(41, 68, 204, 1);
    -moz-box-shadow: 1px 4px 31px 1px rgba(41, 68, 204, 1);
    box-shadow: 1px 4px 31px 1px rgb(55, 80, 204);
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 70%;
}

footer {
    color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60px;
}

.wrapper {
    padding: 15px;
    display: flex;
    align-items: stretch;
    max-width: 100%;
} 
.wrapper {
    position: relative;
    height: 100%;
}
.wrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(240, 241, 243, 0.5);
}

nav{
    position: fixed;
}

nav a{
    color:#2f6327;
    font-weight: bold;
    font-size: 25px;
}


.card{
    display: flex;
    padding: 50px 70px 70px 50px;
    margin-top: 20px;
    margin-right: 20px ;
    font-size: 20px;
}

#addTask{
    border: 1px solid white;
    padding: 50px 60px;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-box-shadow: 1px 4px 31px 1px rgba(41, 68, 204, 1);
    -moz-box-shadow: 1px 4px 31px 1px rgba(41, 68, 204, 1);
    box-shadow: 1px 4px 31px 1px rgba(41, 68, 204, 1);
}

#addTask label{
    font-size: 25px;
}

#addTask button{
    font-size: 25px;
}

#home{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 100%;
    padding: 20px;
  } 

/* adding effect to div */
#home div {
    background-color: gainsboro;
    display: block;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
  }

 #home button {
     background-color: lightseagreen;
     padding: 5px;
     margin: 5px;
 } 

button:hover,
button:focus {
  font-size: 18px;
  cursor: pointer;
}

#modal {
    display: none;
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: #ccc;
}

#cancel {
    font-size: 30px;
    margin: 10px;
    text-align: end;
}

.modal-content {
    padding: 10px;
}
  /* media query to make thumbnails responsive */
@media only screen and (max-width: 700px) {
    #home{
      grid-template-columns: repeat(1,1fr);
    }
  }

  #addPlan{
      font-size: 20px;
  }
